<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Book</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <h1><%= bookTitle %></h1>
        <h2>By <%= author %></h2>
    </header>
    <nav>
        <ul>
            <li><a href="/chapter1">Chapter 1: The Gathering Storm</a></li>
            <li><a href="/chapter2">Chapter 2: The Last Laugh</a></li>
            <li><a href="/chapter3">Chapter 3: The Unseen Hand</a></li>
            <li><a href="/chapter4">Chapter 4: The Fire Within</a></li>
            <li><a href="/chapter5">Chapter 5: The Fallen Friend</a></li>
            <li><a href="/chapter6">Chapter 6: The Enigma of Avalon</a></li>
            <li><a href="/chapter7">Chapter 7: The Tangled Web</a></li>
            <li><a href="/chapter8">Chapter 8: The Puppetmasters</a></li>
            <li><a href="/chapter9">Chapter 9: The Final Dance</a></li>
            <li><a href="/chapter10">Chapter 10: Unmasking Avalon</a></li>
            <li><a href="/chapter11">Chapter 11: The Battle for Control</a></li>
            <li><a href="/chapter12">Chapter 12: The Last Laugh</a></li>
        </ul>
    </nav>


    <script src="js/main.js"></script>
</body>
</html>
